In [1]:
from sqlalchemy import create_engine 
from sqlalchemy import create_engine, MetaData, Table

In [41]:
#ex1
db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
db = create_engine(db_string)
print(db.table_names())
metadata = MetaData()
category = Table("category", metadata , autoload=True, autoload_with=db)
film = Table("film", metadata , autoload=True, autoload_with=db)

['staff', 'category', 'film_category', 'country', 'actor', 'language', 'store', 'rental', 'city', 'address', 'film_actor', 'payment', 'users', 'film', 'customer', 'inventory']

In [43]:
#ex2
# by getting id from one table we can jump to the another one using this particular id number eg.
# staff(address_id) -> address(city_id) -> city(country_id) -> country
# actor(actor_id) -> film_actor(film_id) -> film(language_id) ->language

In [19]:
#ex3
stmt = 'select count(distinct c.name) from category c join film_category fc on (c.category_id=fc.category_id) join film f on (fc.film_id=f.film_id) join inventory i on (f.film_id=i.film_id) join rental r on (i.inventory_id=r.inventory_id)'
results = db.execute(stmt).fetchall()
print("Number of categories: " + str(results[0][0]))

Number of categories: 16

In [25]:
#ex4
stmt2 = 'select distinct c.name from category c join film_category fc on (c.category_id=fc.category_id) join film f on (fc.film_id=f.film_id) join inventory i on (f.film_id=i.film_id) join rental r on (i.inventory_id=r.inventory_id)'
results = db.execute(stmt2).fetchmany(size=2)
theResult = ''
for r in results:
    theResult += r[0]
    theResult += ', '
print("Categories with limit 2: " + theResult[:-2])

Categories with limit 2: Horror, Comedy

In [32]:
#ex5
stmt3 = 'select f.title, min(f.release_year) as min_year from category c join film_category fc on (c.category_id=fc.category_id) join film f on (fc.film_id=f.film_id) join inventory i on (f.film_id=i.film_id) join rental r on (i.inventory_id=r.inventory_id) group by f.title'
results = db.execute(stmt3).fetchmany(size=3)
theResult = ''
for r in results:
    theResult += r[0]
    theResult += ', '
print("The youngest films in the rental: " + theResult[:-2])

stmt4 = 'select f.title, max(f.release_year) as max_year from category c join film_category fc on (c.category_id=fc.category_id) join film f on (fc.film_id=f.film_id) join inventory i on (f.film_id=i.film_id) join rental r on (i.inventory_id=r.inventory_id) group by f.title'
results = db.execute(stmt4).fetchmany(size=3)
theResult = ''
for r in results:
    theResult += r[0]
    theResult += ', '
print("\nThe oldest films in the rental: " + theResult[:-2])
#all movies from 2006

The youngest films in the rental: Frontier Cabin, Cruelty Unforgiven, Arachnophobia Rollercoaster

The oldest films in the rental: Frontier Cabin, Cruelty Unforgiven, Arachnophobia Rollercoaster

In [39]:
#ex6
from sqlalchemy.sql import select
from sqlalchemy import or_
actor = Table("actor", metadata , autoload=True, autoload_with=db)
stmt = select([actor])
stmt = stmt.where(or_(actor.c.first_name == 'Olympia', actor.c.first_name == 'Julia', actor.c.first_name == 'Ellen'))
results = db.execute(stmt).fetchall()
print('The actresses:\n')
for result in results:
    print(result['first_name'] + ' ' + result['last_name'])
    
#correction check of a querry
print('\n')
print(stmt)

The actresses:

Julia Mcqueen
Julia Barrymore
Ellen Presley
Olympia Pfeiffer
Julia Zellweger
Julia Fawcett


SELECT actor.actor_id, actor.first_name, actor.last_name, actor.last_update
FROM actor
WHERE actor.first_name = :first_name_1 OR actor.first_name = :first_name_2 OR actor.first_name = :first_name_3